html {
  progress {
    width: 100%;
    display: block;
    height: 0.25em;
    -webkit-appearance: none;
    z-index: 999;
    position: fixed;
    top: 3em;
  }

  progress::-webkit-progress-bar {
    background: $white;
  }

  progress::-webkit-progress-value {
    background: $green;
  }
}
