
html {
  section#upload {
    div#upload-content {
      display: block;
      width: 100%;
      max-width: 25em;
      box-sizing: border-box;
      background: $light-gray;
      color: $gray;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      text-align: center;
      font-size: 2em;
      padding: 2.5em 1em;
      margin: 1em auto;
      height: auto;
      opacity: 1.0;

      &.hover {
        background: $white;
        border: none;
        color: $gray;
        opacity: 1.0;
      }
      &:hover {
        @extend .hover;
      }

      form {
        display: block;
        background: transparent;
        font-size: 75%;
        padding: 0 0;
        margin: 1em auto 0.5em auto;
        width: 13em;
      }
    }
  }
}
